body {
    background-image: url("../Assets/textured_paper/textured_paper.png");
}

header {
    padding-top: 40px;
    background-color: whitesmoke;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 100px;
    -moz-box-shadow: 0 0 20px #6d6d6d;
    -webkit-box-shadow: 0 0 20px #6d6d6d;
    box-shadow: 0 0 20px #6d6d6d;
    cursor: default;
}

#headerText {
    float: bottom;
    font-size: 50px;
    color: rgb(85, 85, 85);
    font-family: 'Roboto', sans-serif;
}

#headerSubtext {
    float: bottom;
    color: rgb(163, 163, 163);
    font-family: 'Indie Flower';
}

#dateHolder {
    margin-top: 20px;
    float: bottom;
    color: rgb(150, 150, 150);
    cursor: default;
}

#timeHolder {
    color: rgb(150, 150, 150);
    float: left;
    cursor: default;
}

#dateTimeBox {
    height: 75px;
    width: 200px;
    border-bottom: 3px dashed rgba(72, 132, 237, 0.466);
    margin-bottom: 50px;
}

textarea {
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 0;
    border: none;
    resize: none;
    background-color: rgb(245, 245, 234);
    padding: 6px;
    font-size: 19px;
    font-family: 'Lora', serif;
    border-left: 4px solid rgb(17, 133, 237);
}

.textareaPast {
    background-color: gray;
}
.textareaPresent {
    background-color: blue;
}
.textareaFuture {
    background-color: green;
}


textarea:focus {
    outline: none;
}

.schBox {
    margin-top: 2px;
    margin-bottom: 2px;
}

.saveStyle {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 75px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
    border-radius: 0px 25px 25px 0px;
    background-color: rgb(17, 133, 237);
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.saveStyle:hover {
    width: 107%;
}
.saveStyle:focus {
    outline: none;
}


.saveStyle:active {
    -moz-transition-duration: 0s;
    transition-duration: 0s;
    background-color: rgb(36, 111, 241);
    -moz-box-shadow: 0 0 10px #6d6d6d;
    -webkit-box-shadow: 0 0 10px #6d6d6d;
    box-shadow: 0 0 10px #6d6d6d;
}

.timeBox {
    padding-top: 30px;
    width: 100%;
    height: 75px;
    background-color: rgba(128, 128, 128, 0.233);
    border-radius: 10px 0px 0px 10px;
    border: none;
    cursor: default;
}

.timeBoxText {
    color: rgb(100, 100, 100);
    margin-top: 19px;
    margin-right: 15px;
    text-align: right;
    font-size: 30px;
}

.col-2,
.col-1,
.col-8 {
    padding: 0;
    margin: 0;
}

footer {
    bottom: 0;
    height: 110px;
    width: 100%;
    background-color: whitesmoke;
    margin-top: 75px;
    -moz-box-shadow: 0 0 20px #6d6d6d;
    -webkit-box-shadow: 0 0 20px #6d6d6d;
    box-shadow: 0 0 20px #6d6d6d;
}